.woocommerce-cart {
  .entry-header {
  background-color: $color__background_grey;
  margin: 0 -15px 0;
    h1 {
      @include font-size(1.5);
      color: $color__text_brod;
      padding: 13px 15px;
    }
  }
  .cart-wrapper {
    .cart_item {
    }
    .product-name {
      width: 100%;
      margin: 15px 0;
      a {
        color: $color__text_brod;
        @include font-size(2);
      }
    }
    .product-details {
      @include flex(row, wrap, space-between);
      .product-thumbnail {
        width: 50%;
      }
      .product-info {
        border-top: 1px solid $color__background_grey;
        width: 50%;
        @include flex(column, wrap, space-around);
        align-items: flex-end;
        .product-id {
          @include font-size(1);
        }
        .product-price {
          padding-top: 5px;
        }
        .product-price,
        .product-price span {
          @include font-size(1.5);
          text-align: right;
        }
        .product-price span {
          font-family: $font__bold;
          @include font-size(1.8);
        }
        .product-remove {
          width: 100%;
          button {
            width: 100%;
            height: 60px;
            background-color: $color__4;
            color: $color__text_white;
            @include font-size(1.3);
            &:hover {
              cursor: pointer;
              background: $color__5;
            }

          }
          a.remove {
            width: 100%;
            height: 100%;
            border-radius: 0;
          }
        }
      }
    }
    .cart_totals h2 {
      height: 39px;
      background-color: $color__div_bg;
      margin: 0 -15px 10px;
      padding: 0 15px;
      @include font-size(1.5);
    }
    .wc-proceed-to-checkout a {
      background-color: $color__4;
      border-radius: 0;
      &:hover {
        background-color: $color__5;
      }
    }
    .diveder {
      height: 15px;
      background-color: $color__div_bg;
      margin: 0 -15px;
    }
  }
}
