.woocommerce-billing-fields {
  h3 {
    background-color: $color__div_bg;
    height: 50px;
    @include font-size(1.5);
    margin: 0 -15px 0;
    padding: 13px 15px;
  }
}

#customer_details input[type="text"],
#customer_details input[type="email"],
#customer_details input[type="tel"],
#customer_details input[type="password"] {
  background-color: $color__div_bg;
  @include font-size(1.5);
  height: 60px;
  padding: 0 20px;
}

#customer_details {
  padding-bottom: 15px;
  div.col-2 {
    display: none;
  }
}

.woocommerce input.button.alt {
  width: 100%;
  position: relative;
  border-radius: 0;
  background-color: $color__5;
  font-family: $font__main;
  color: $color__text_white;
  @include font-size(2);
}

#billing_country_field label {
  position: relative;
}

.woocommerce form .form-row {
  padding: 10px 0;
  margin: 0;
  display: block;
  position: relative;
  label {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: italic;
    font-size: 18px;
    color: #999;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
  }
}
.has-value {
  top: 20px !important;
  font-size: 12px !important;
}

.woocommerce-checkout #billing_country_field {
  a {
    height: 50px;
    display: flex;
    align-items: center;
  }
  span.select2-chosen {
    @include font-size(1.5);
    padding-left: 10px;
  }
}
