/**********************
 * General
 *********************/
 #page {
   background-color: #fff;
 }

.content-area {
  width: 100%;
}
.site-main {
  margin: 0 15px;
}


/**********************
 * Vote gallery
 *********************/
.gallery-vote {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .vote-count {
    display: flex;
    justify-content: center;
  }
  .gallery-icon img {
    width: 100%;
    height: auto;
  }
}
