/**********************
 * General
 *********************/
.content-area {
  width: 100%;
  .top-image {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.site-main {
  margin: 0 20px;
}

/**********************
 * Vote gallery
 *********************/
.gallery-vote {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .vote-count {
    display: flex;
    justify-content: center;
  }
  .gallery-icon img {
    width: 100%;
    height: auto;
  }
}
