/**********************
 * General
 *********************/
 #page {
   background-color: #fff;
 }

.content-area {
  width: 100%;
}
.site-main {
  margin: 15px 15px;
}


/**********************
 * Vote gallery
 *********************/
.gallery-vote {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .vote-count {
    display: flex;
    justify-content: center;
  }
  .gallery-icon img {
    width: 100%;
    height: auto;
  }
}

.special-button {
  display: inline-block;
  background: $color__4;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 50px;
  border-radius: 0;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.special-button:hover {
  background-color: $color__5;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}
