.site-footer {
  width: 100%;
  // background-color: $color__div_bg;
  // @media #{$large-and-up} {
    background-color: $color__background_grey;
  // }
  .footer-wrap {
    @media #{$large-and-up} {
      max-width: 1000px;
      margin: 60px auto 0;
    }
  }
  .site-info {
    padding: 40px 15px 70px;
    p,a {
      @include font-size(1.3);
      color: $color__text_brod;
    }
    .footer-mobile-logo img {
      height: 30px;
      margin: 10px 0;
    }
    a {
      color: $color__link;
    }
  }
}
