.site-footer {
  width: 100vw;
  background-color: $color__background_grey;
  min-height: 250px;
  .site-info {
    padding: 40px 15px 0;
    p,a {
      @include font-size(1.3);
      color: $color__text_brod;
    }
    a {
      color: $color__link;
    }
  }
}
