/**********************
 * Forside
 *********************/
.top-image {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-vh-align {
  @include flex(row,wrap,center);
  align-items: center;
  height: 100px;
}

.user-select,
.quote-users {
  min-height: 400px;
}

.abb-ref-link {
  height: 120px;
  background-image: url(http://www.lorempixel.com/400/150/);
  background-repeat: no-repeat;
  background-size: cover;
  div {
    height: 120px;
  }
  p {
    @include font-size(1.4);
    font-family: $font__bold;
    position: relative;
    color: $color__text_white;
  }
}

.user-select {
  p {
    @include font-size(1.4);
  }
}

.quote-users {
  background-color: royalblue;
}
