/**********************
 * Forside
 *********************/
.top-image-wrap {
  @media #{$large-and-up} {
    height: 550px;
    position: relative;
    overflow: hidden;
  }
  .top-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media #{$large-and-up} {
      height: 550px;
    }
    .top-inside-wrap {
      @media #{$large-and-up} {
        img {
          min-width: 100%;
          height: 550px;
        }
      }
    }
  }
}
.phrase-wrap {
  max-width: $desktop_width;
  margin: 0 auto;
  padding: 0 15px;
  .phrase-container {
    position: absolute;
    top: 0;
    .top-phrase {
      @include font-size(3);
      color: $color__text_white;
      padding: 90px 0 50px;
    }
    .sub-phrase {
      color: $color__text_white;
      padding-bottom: 50px;
      @include font-size(1.5);
    }
  }
}

.btn-wrap {
  height: 70px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  .left {
    position: absolute;
    background: $color__link;
    height: 100%;
    width: 100%;
  }
  .right {
    position: absolute;
    background: white;
    height: 70px;
    width: 120px;
    transform: skewx(-30deg);
    right: -40px;
    transition: all 300ms cubic-bezier(.5,-0.26,.5,1.26);
  }
  a {
    position: absolute;
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 19px 145px;
    span {
      position: absolute;
      right: 24px;
      top: 15px;
      transition: all 800ms ease-in-out;
      i {
        color: $color__5;
        @include font-size(2.5);
      }
    }
  }
}



.steps-wrap {
  @include flex(row, wrap, center);
  margin: 50px auto;
  max-width: $desktop_width;
  .step {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 300px;
    padding: 0 7.5px;
    margin-top: 40px;
    h2 {
      align-self: center;
      @include font-size(2);
      padding: 30px 0;
      color: $color__text_brod;
    }
    img {
      align-self: center;
    }
    p {
      @include font-size(1);
      text-align: center;
      width: 92%;
      margin: 0 auto;
      color: $color__text_brod;
    }
  }
}

.text-vh-align {
  @include flex(row,wrap,center);
  align-items: center;
  height: 70px;
}

.user-select,
.quote-users {
  min-height: 400px;
}

.user-select {
  padding: 30px 15px 7.5px;
  @media #{$large-and-up} {
    background-color: $color__div_bg;
  }
  div {
    background-color: $color__text_white;
    @media #{$large-and-up} {
      background-color: $color__div_bg;
    }
  }
  p {
    @include font-size(1.6);
    color: $color__text_over;
  }
}
.user-select-wrapper,
.woocommerce-page .products {
  line-height: 0;
  column-count: 2;
  @media #{$large-and-up} {
    column-count: 3;
  }
  column-gap: 15px;
  max-width: $desktop_width;
  margin: 0 auto !important;
  a, &:before, &:after {
    line-height: 0;
  }
  img {
    width: 100% !important;
    height: auto !important;
    line-height: 0;
    padding-bottom: 15px;
    &:before, &:after {
      line-height: 0;
    }
  }
}


.quote-users {
  background-color: $color__div_bg;
  @media #{$large-and-up} {
    padding: 7.5px 7.5px 40px;
  }
  p {
    color: $color__text_over;
    @include font-size(1.6);
  }
  .user-quote {
    margin: 0 auto;
    max-width: 600px;
    height: 100%;
    @media #{$large-and-up} {
      display: flex;
      max-width: $desktop_width;
    }
    blockquote {
      background-color: $color__text_white;
      display: flex;
      @include flex(row, wrap, center);
      align-items: center;
      margin: 15px;
      min-height: 250px;
      position: relative;
      @include font-size(1.6);
      color: $color__text_brod;
      @media #{$large-and-up} {
        width: 50%;
        margin: 7.5px;
      }
      @media #{$medium-only} {
        @include font-size(1.8);
      }
      &::before {
        content: "format_quote";
        font-family: "Material Icons";
        font-style: normal;
        font-weight: normal;
        @include font-size(2);
        transform: rotate(180deg);
        color: $color__quotes;
        position: absolute;
        top: 80px;
        left: 26px;
        @media #{$medium-only} {
          left: 60px;
        }
      }
      footer {
        position: absolute;
        top: 160px;
        right: 40px;
        @include font-size(1);
        @media #{$medium-only} {
          right: 80px;
        }
      }
    }
  }
}
.user-select p,
.quote-users p {
  @media #{$medium-only} {
    @include font-size(1.8);
  }
}

.content-area .short-desc {
  margin: 0 auto;
  max-width: $desktop_width;
  h1 {
    @include font-size(1.5);
    padding: 40px 0 20px;
    margin: 0 15px;
  }
  p {
    padding: 10px 0;
    margin: 0 15px;
  }
  h2 {
    padding: 10px 0;
    @include font-size(1.3);
    font-family: $font__bold;
    margin: 0 15px;
  }
}
.divider {
  margin: 70px auto 0;
  height: 10px;
  width: 360px;
  border-top: 2px solid $color__text_brod;
}
