.site-header {
  width: 100%;
}

/**********************
 * Nav
 *********************/
.nav-wrapper,
.nav-wrapper-mobile {
  position: relative;
  height: 72px;

  padding: 0 15px;
  @media #{$large_and_up} {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    max-width: $desktop_width;
    .primary-navigation ul {
      display: flex;
      li {
        &:hover {

        }
        a {
          color: $color__text_brod;
          padding: 30px 25px;
        }
      }
    }
  }
  .header-mobile-logo {
    flex-grow: 2;
    @media #{$medium-and-down} {
      a {
        position: absolute;
        top: 7px;
        padding: 10px;
        left: 0;
      }
    }
    img {
      height: 35px;
    }
  }
  .count {
    color: $color__text;
  }
}
.main-navigation ul li {
  display: inline-block;
  padding: 10px 0;
}
.main-navigation ul li.cart-short-list {
  @media #{$medium-and-down} {
    position: absolute;
    right: 75px;
  }
}

.nav-wrapper-mobile {
  #menu-icon {
    padding: 10px 0 10px 10px;
    @media #{$medium-and-down} {
      padding: 10px;
      position: absolute;
      top: 5px;
      right: 5px;
    }
    img {
      height: 40px;
    }
  }
  .material-icons {
    @include font-size(2);
    color: $color__4;
  }

  .side-nav > a {
    text-align: right;
  }
  .side-nav a {
//    height: 2rem;
  }
  .mobile-navigation {
    margin-top: 20px;
    ul li {
      display: block;
      width: 100%;
      &:hover {
        background-color: $color__4;
      }
      a:hover {
        color: $color__text_white;
      }
    }
  }
}


/**********************
 * Header cart, widget
 *********************/
.cart-hover .widget_shopping_cart_content {
  min-height: 80px;
}

/**********************
 * Nav header mini cart
 *********************/
.site-header-cart {
  padding: 10px;
}
span i.material-icons {
  vertical-align: middle;
}
.cart-short-list {
  position: relative;
  a {

  }
}
.cart-long-list {
  display: none;
  .mini_cart_item {
    width: 100%;
    div.product-attri {
      display: none;
    }
  }
}

// Cart icon hover menu
.cart-hover {
  display: block;
  position: absolute;
  z-index: 10;
  right: 0;
  .widget_shopping_cart_content {
    background-color: $dropdown-bg-color;
    width: 300px;
    padding: 10px;
    @extend .z-depth-1;
    .total {
      border-top: none;
    }
    a.remove:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #e2401c;
    text-indent: 0;
    text-align: center;
    }
    a.remove, a.remove:before {
    }
  }
}

//NavBar underline style
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $color__nav_hover_center;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 20px;
  right: 20px;
}
