.post-type-archive-product div.site-content {
  h1 {
    height: 50px;
    background-color: $color__div_bg;
    @include font-size(1.5);
    padding: 13px 15px;
    @media #{$large-and-up} {
      max-width: $desktop_width;
      margin: 0 auto;
    }
  }
  p.woocommerce-result-count {
    padding: 15px;
    margin: 0;
    @media #{$large-and-up} {
      max-width: $desktop_width;
      margin: 0 auto;
    }
  }
}

.woocommerce ul.products {
  display: flex;
  flex-flow: row wrap;
  @media #{$large-and-up} {
    max-width: $desktop_width;
    margin: 0 auto;
    justify-content: center;
  }
  div.product {
    width: 50%;
    @include flex(row, wrao, space-between);
    @media #{$large-and-up} {
      width: inherit;
    }
    div.product-wrap {
      width: 100%;
      border: solid 7.5px #fff;
      overflow: hidden;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


// Title and price
.woocommerce ul.products {
  div.product div.product-wrap {
    position: relative;
    a h3 {
      display: none;
      padding: 10px;
      background-color: white;
      position: absolute;
      left: 10px;
      top: 200px;
    }
    span.price {
      display: none;
      padding: 10px;
      background-color: white;
      position: absolute;
      left: 10px;
      top: 249px;
    }
    a.add_to_cart_button {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 270px;
      padding: 12px 30px;
      color: white;
      background-color: $color__link;
      border-radius: 0;
      transition: all 300ms linear;
      &:hover {
        transition: all 300ms linear;
        background-color: rgba($color__link, .8);
      }
    }
    a.added_to_cart {
      @media #{$large-and-up} {
        display: none;
      }
    }
  }
}
//.woocommerce ul.products div.product div.product-wrap a:last-child {
//  display: none;
//}

.woocommerce nav.woocommerce-pagination {
  margin: 20px 0;
  ul li {
    @include font-size(2);
  }
}
