.post-type-archive-product div.site-content {
  .shop-title-wrap {
    background-color: $color__div_bg;
    h1 {
      @include font-size(1.5);
      padding: 13px 15px;
      @media #{$large-and-up} {
        max-width: $desktop_width;
        margin: 0 auto;
      }
    }
  }
  p.woocommerce-result-count {
    padding: 15px;
    margin: 0;
    @media #{$large-and-up} {
      max-width: $desktop_width;
      margin: 0 auto;
    }
  }
}

.woocommerce ul.products {
  display: flex;
  flex-flow: row wrap;
  @media #{$large-and-up} {
    max-width: $desktop_width;
    margin: 0 auto;
    justify-content: center;
  }
  div.product {
    width: 50%;
    @include flex(row, wrao, space-between);
    @media #{$large-and-up} {
      width: inherit;
    }
    div.product-wrap {
      width: 100%;
      border: solid 7.5px #fff;
      overflow: hidden;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


// Title and price
.woocommerce ul.products {
  div.product div.product-wrap {
    position: relative;
    a h3 {
      display: none;
      padding: 10px;
      background-color: white;
      position: absolute;
      left: 10px;
      top: 200px;
      @media #{$medium-and-down} {
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
      }
    }
    span.price {
      display: none;
      padding: 10px;
      background-color: white;
      position: absolute;
      left: 10px;
      top: 249px;
      @media #{$medium-and-down} {
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
      }
    }
    a.add_to_cart_button {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 270px;
      padding: 12px 30px;
      color: white;
      background-color: $color__link;
      border-radius: 0;
      transition: all 300ms linear;
      &:hover {
        transition: all 300ms linear;
        background-color: rgba($color__link, .8);
      }
    }
    a.added_to_cart {
      @media #{$large-and-up} {
        display: none;
      }
    }
  }
}
//.woocommerce ul.products div.product div.product-wrap a:last-child {
//  display: none;
//}

.woocommerce nav.woocommerce-pagination {
  margin: 20px 0;
  ul li {
    @include font-size(2);
  }
}


// Abonnemet, bottom of shop page
.woocommerce-page .abn-products-wrap,
div.site-content article.page {
  .header-wrap {
    width: 100%;
    background-color: $color__background_grey;
    h1 {
      @include font-size(1.5);
      padding: 13px 15px;
      max-width: $desktop_width;
      margin: 0 auto;
    }
  }
  .abn-more-link {
    max-width: $desktop_width;
    margin: 70px auto 120px;
    text-align: center;
    a {
      padding: 13px 15px;
      background-color: $color__link;
      color: $color__text_white;
      @include font-size(.8);
      @media #{$large-and-up} {
        @include font-size(1.3);
      }
      &:hover {
        background-color: darken($color__link, 5);
      }
    }
  }
  .abn-products {
    @include flex(row, wrap, space-around);
    max-width: $desktop_width;
    margin: 40px auto;
    .abn-product {
      position: relative;
      width: 300px;
      a h3 {
        position: absolute;
        top: 46px;
        left: 56px;
        padding: 5px;
        background-color: $color__text_white;
        transform: rotate(-15deg);
        @extend .z-depth-1;
      }
      a.add_to_cart_button {
        position: absolute;
        top: 224px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 20px;
        border-radius: 0;
        color: $color__text_white;
        background-color: $color__link;
        &:hover {
          background-color: rgba($color__link, 0.8);
        }
      }
      a p {
        text-align: center;
        @include font-size(.9);
      }
    }
  }
}
