$color__1:rgb(212, 144, 206);
$color__2:rgb(148, 101, 144);
$color__3:rgb(84, 57, 82);
$color__4:rgb(71, 49, 70);
$color__5:rgb(54, 36, 52);
$color__text:#3a3637;

$dropdown-bg-color: #fff;
$dropdown-hover-bg-color: lighten($color__1, 20%);
$off-black: lightgreen;
$dropdown-color: $color__text;
$dropdown-item-height: 60px;
